<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   </head>
   <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
           <a class="navbar-brand" href='homePage.html'>EAST AFRICAN TRAVEL</a> 
           <div style="position: relative; left: 1750px; top:2px">
           <a class="navbar-brand" href='about.html'>ABOUT</a> 
           </div>
        </nav>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="Dianihtml.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">KENYA</h5>
                  <p class="card-text">At 580,367 km2 (224,081 sq mi),[10] Kenya is the world's forty-seventh largest country (after Madagascar). It lies between latitudes 5°N and 5°S, and longitudes 34° and 42°E. From the coast on the Indian Ocean, the low plains rise to central highlands. The highlands are bisected by the Great Rift Valley, with a fertile plateau lying to the east.[citation needed]
      
                    The Kenyan Highlands are one of the most successful agricultural production regions in Africa.[101] The highlands are the site of the highest point in Kenya and the second highest peak on the continent: Mount Kenya, which reaches a height of 5,199 m (17,057 ft) and is the site of glaciers. Mount Kilimanjaro (5,895 m or 19,341 ft) can be seen from Kenya to the south of the Tanzanian border.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Best places to visit in Kenya</li>
                  <li class="list-group-item">Advice on visiting Kenya</li>
                  <li class="list-group-item">Documents needed when visiting Kenya</li>
                </ul>
            </div>
            <div class="container">
              <div class="row align-items-start">
            </div>
            <div class="col">
            </div>
            <div style = "position:relative; left:300px; top:70px">
            <div class="card" style="width: 18rem;">
              <img src="Wildebeesthtml.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TANZANIA</h5>
                <p class="card-text">At 947,303 square kilometres (365,756 sq mi),[6] Tanzania is the 13th largest country in Africa and the 31st largest in the world, ranked between the larger Egypt and smaller Nigeria.[69] It borders Kenya and Uganda to the north; Rwanda, Burundi, and the Democratic Republic of the Congo to the west; and Zambia, Malawi, and Mozambique to the south.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Best places to visit in Tanzania</li>
                <li class="list-group-item">Advice on visiting Tanzania</li>
                <li class="list-group-item">Documents needed when visiting Tanzania</li>
              </ul>

              </div>
    
            </div>
            </div>
          </div>
        </div>
   </body>
        </html>