<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   </head>
   <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="position: left-350">
           <a class="navbar-brand" href='homePage.html'>EAST AFRICAN TRAVEL</a> 
           <div style="position: relative; left: 1750px; top:2px">
           <a class="navbar-brand" href='about.html'>ABOUT</a> 
           </div>
        </div>
        </nav>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
            </div>
            <div style = "position:relative; left:-350px; top:50px">
              <div class="card" style="width: 18rem;">
                <img src="Dianihtml.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">KENYA</h5>
                  <p class="card-text">Kenya, officially the Republic of Kenya (Swahili: Jamhuri ya Kenya), is a country in Eastern Africa. At 580,367 square kilometres (224,081 sq mi), Kenya is the world's 48th largest country by total area. With a population of more than 47.6 million people in the 2019 census, Kenya is the 29th most populous country. Kenya's capital and largest city is Nairobi, while its oldest city and first capital is the coastal city of Mombasa. Kisumu City is the third largest city and also an inland port on Lake Victoria. Other important urban centres include Nakuru and Eldoret. As of 2020, Kenya is the third largest economy in sub-Saharan Africa after Nigeria and South Africa. Kenya is bordered by South Sudan to the northwest, Ethiopia to the north, Somalia to the east, Uganda to the west, Tanzania to the south, and the Indian Ocean to the southeast.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Best places to visit in Kenya</li>
                  <li class="list-group-item">Is Kenya Safe?</li>
                  <li class="list-group-item">Documents needed when visiting Kenya</li>
                </ul>
              </div>
            </div>
            <div class="container">
              <div class="row align-items-start">
            </div>
            <div class="col">
            </div>
            <div style = "position:relative; left:-10px; top:-1000px">
            <div class="card" style="width: 18rem;">
              <img src="kilimanjaro-4436821_1280.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TANZANIA</h5>
                <p class="card-text">At 947,303 square kilometres (365,756 sq mi),Tanzania is the 13th largest country in Africa and the 31st largest in the world, ranked between the larger Egypt and smaller Nigeria. It borders Kenya and Uganda to the north; Rwanda, Burundi, and the Democratic Republic of the Congo to the west; and Zambia, Malawi, and Mozambique to the south.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Best places to visit in Tanzania</li>
                <li class="list-group-item">Is Kenya Safe?</li>
                <li class="list-group-item">Documents needed when visiting Tanzania</li>
              </ul>

              </div>
              <div style = "position:relative; left:340px; top:-665px">
              <div class="card" style="width: 18rem;">
                <img src="cropwwl-0503-2000x1024.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">UGANDA</h5>
                  <p class="card-text">Uganda (Ugandan Languages: Yuganda ), officially the Republic of Uganda (Swahili: Jamhuri ya Uganda[1]), is a landlocked country in East-Central Africa. It is bordered to the east by Kenya, to the north by South Sudan, to the west by the Democratic Republic of the Congo, to the south-west by Rwanda, and to the south by Tanzania. The southern part of the country includes a substantial portion of Lake Victoria, shared with Kenya and Tanzania. Uganda is in the African Great Lakes region. Uganda also lies within the Nile basin and has a varied but generally a modified equatorial climate.</p>
              </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Best places to visit in Uganda</li>
                  <li class="list-group-item">Is it safe to visit Uganda</li>
                  <li class="list-group-item">Documents needed when visiting Uganda</li>
                </ul>
              </div>
                <div style = "position:relative; left:340px; top:-815px">
                <div class="card" style="width: 18rem;">
                  <img src="View_over_Lake_Kivu_-_Outside_Karongi_-Kabuye_-_Western_Rwanda_-_01.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">RWANDA</h5>
                    <p class="card-text">Rwanda, officially the Republic of Rwanda, is a landlocked country in the Great Rift Valley, where the African Great Lakes region and East Africa converge. One of the smallest countries on the African mainland, its capital city is Kigali. Located a few degrees south of the Equator, Rwanda is bordered by Uganda, Tanzania, Burundi, and the Democratic Republic of the Congo. It is highly elevated, giving it the soubriquet "land of thousand hills", with its geography dominated by mountains in the west and savanna to the east, with numerous lakes throughout the country. The climate is temperate to subtropical, with two rainy seasons and two dry seasons each year. Rwanda has a population of over 12.6 million living on 26,338 km2 (10,169 sq mi) of land, and is the most densely populated mainland African country.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Best places to visit in Rwanda</li>
                    <li class="list-group-item">Is Rwanda Safe</li>
                    <li class="list-group-item">Documents needed when visiting Rwanda</li>
                  </ul>
                </div>
                <div style = "position:relative; left:340px; top:-1025px">
                  <div class="card" style="width: 18rem;">
                    <img src="download (9).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">BURUNDI</h5>
                      <p class="card-text">Burundi, officially the Republic of Burundi (Kirundi: Repubulika y’u Burundi, [u.βu.ɾǔː.ndi]; Swahili: Jamuhuri ya Burundi; French: République du Burundi, [buʁundi] or [byʁyndi]), is a landlocked country in the Great Rift Valley where the African Great Lakes region and East Africa converge. It is bordered by Rwanda to the north, Tanzania to the east and southeast, and the Democratic Republic of the Congo to the west; Lake Tanganyika lies along its southwestern border. The capital cities are Gitega and Bujumbura.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Best places to visit in Burundi</li>
                      <li class="list-group-item">Is Burundi Safe?</li>
                      <li class="list-group-item">Documents needed when visiting Burundi</li>
                    </ul>
                    </div>
                    <div style = "position:relative; left:340px; top:-755px">
                      <div class="card" style="width: 18rem;">
                        <img src="Sobat.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SOUTH SUDAN</h5>
                          <p class="card-text">South Sudan (/suːˈdɑːn, -ˈdæn/), officially known as the Republic of South Sudan, is a landlocked country in East-Central Africa. It is bordered to the east by Ethiopia, to the north by Sudan, to the west by the Central African Republic, to the southwest by Democratic Republic of the Congo, to the south by Uganda and to the southeast by Kenya.

                            It gained independence from the Republic of the Sudan in 2011, making it the most recent sovereign state or country with widespread recognition. Its capital and largest city is Juba. It includes the vast swamp region of the Sudd, formed by the White Nile and known locally as the Bahr al Jabal meaning "Mountain River".</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Best places to visit in South Sudan</li>
                          <li class="list-group-item">Is South Sudan Safe?</li>
                          <li class="list-group-item">Documents needed when visiting South Sudan</li>
                        </ul>
                        </div>

            </div>
            </div>
          </div>
        </div>
   </body>
        </html>